<img src="https://cdn.discordapp.com/attachments/997479291216465992/1053991514675625984/Ignotum404.png" class="rounded">
<div class="text-center">
<h1>404</h1>
<p1>
    The page you are looking for does not exist.
</p1>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="/" role="button">Back to homepage</a>
</div>

<style>
    img {
		padding: 5px;
		width: 150px;
		justify-content: center;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
    }
    body {
        background-color: #18191A;
    }
    .text-center h1 {
        font-family: sans-serif;
        font-size: 45px;
        color: white;
        text-align: center;
        text-shadow: black;
    }
    .text-center p1 {
        font-size: 23px;
        font-family: serif;
        color: white;
        text-align: center;
    }
</style>