<div class="text-center">
    <h1>About Ignotum</h1>
    <h3>
        Ignotum is a place for users can ask and answer questions without revealing their identity. In Ignotum people can share their thoughts, opinions, and experiences without fear of retribution or judgment. Ignotum can be used to discuss a wide range of topics, from personal problems and relationship advice to current events and general knowledge.
    </h3>
</div>
<div class="text-center">
    <h1>Rules</h1>
    <h3>It is important to remember that people's words and actions still have consequences. There are several guidelines that can be helpful for creating a positive and respectful Ignotum experience</h3>
</div>
<div class="rulesblock">
    <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2" id="statistic">
        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Keep it anonymous.</h5>
                <p class="card-text">Avoid sharing any personal information that could be used to identify you or others.</p>
                <a href="#" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Be respectful.</h5>
                <p class="card-text">Treat others with kindness and respect, even if you disagree with them. Avoid using inflammatory or aggressive language.</p>
                <a href="#" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Stay on topic.</h5>
                <p class="card-text">Keep your questions and answers focused on the subject being discussed.</p>
                <a href="#" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Protect sensitive information.</h5>
                <p class="card-text">Do not share any information that could be considered sensitive or confidential, such as personal details or private information about others.</p>
                <a href="#privacy" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Follow the law.</h5>
                <p class="card-text">Do not use Ignotum to break the law or engage in illegal activities.</p>
                <a href="#" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block">
                <div class="card-body">
                <h5 class="card-title">Report inappropriate content.</h5>
                <p class="card-text">If you see a question or answer that violates the guidelines, report it to the appropriate authorities or moderators.</p>
                <a href="/report" class="btn btn-primary">Click me!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="privacy" id="privacy">
<div class="text-center text-light">
    <h1 style="margin-bottom: 30px;">Privacy Policy</h1>
    At Ignotum, we take your privacy seriously. We understand that your personal information is important to you and we are committed to protecting it. This Privacy Policy explains what information we collect and how we use it.

    <h2>Information We Collect</h2>
    We collect information that you provide to us directly, such as when you create an account or make a question or poll. This information may include your username, nickname, password.

    In addition, we may collect information about your use of our services, such as the pages you visit and the actions you take.

    <h2>How We Use Your Information</h2>
    We use the information we collect to use, provide, and improve our services.

    <h2>Sharing Your Information</h2>
    We may send the information you provide to us to a MongoDB database for storage and use in connection with the operation and maintenance of our website. We will take appropriate security measures to protect this information and ensure that it is used only for the purposes for which it was collected.

    <h2>Security of Your Information</h2>
    We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no security system is perfect and we cannot guarantee the security of your information.

    <h2>Changes to Our Privacy Policy</h2>
    We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.

    Effective Date: 11/1/2023
</div>
</div>

<div class="credit" id="credit">
<div class="text-center">
    <h1>Credit</h1>
    <div class="scrolling-wrapper row flex-row flex-nowrap" id="credit">
        <div class="icon">
            <img src="https://cdn.discordapp.com/avatars/747734496245186582/8cfb1c04b3519a0e1204b60eac8cbe19.png?size=512" alt="badgeicon">
            <h3>yeahbois (Owner, Developer)</h3>

            <img src="https://cdn.discordapp.com/attachments/997479724857163869/1060921271199735828/WhatsApp_Image_2023-01-06_at_20.15.20.jpeg" alt="badgeicon">
            <h3>Mich (Idea Seeker)</h3>

            <img src="https://cdn.discordapp.com/attachments/997479724857163869/1060921271656906873/WhatsApp_Image_2023-01-06_at_20.08.45.jpeg" alt="badgeicon">
            <h3>Anonymous (Helper)</h3>

            <img src="https://cdn.discordapp.com/attachments/997479724857163869/1060924139948486676/itsmejere.png" alt="badgeicon">
            <h3>Itsmejere (Designer)</h3>

            <img src="https://cdn.discordapp.com/attachments/997479724857163869/1062746306868682852/WhatsApp_Image_2023-01-11_at_13.19.01.jpeg" alt="badgeicon">
            <h3>God Favor (Tester)</h3>
        </div>
    </div>
</div>
</div>

<style>
    .text-center h1 {
        color: white;
        font-size: 200%;
        font-weight: bold;
    }

    .text-center h3 {
        color: white;
        font-size: 150%;
        margin-top: 30px;
    }

    .text-center {
        margin: auto;
        width: 80%;
        padding: 5%;
    }

    body {
        background-color: #18191A;
    }

    .card-block {
        height: 300px;
        background-color: #fff;
        border: none;
        background-position: center;
        background-size: cover;
        transition: all 0.2s ease-in-out !important;
        border-radius: 24px;
        &:hover {
            transform: translateY(-5px);
            box-shadow: none;
            opacity: 0.9;
        }
    }

    .scrolling-wrapper {
        overflow-x: auto;
    }

    .icon img:hover {
        border: 5px solid black;
        border-radius: 50px;
    }

    .icon img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 5px solid white;
        margin-top: 5px;
    }
</style>