<h1>Ignotum API v0</h1>
<p>Ignotum API is an API to interact with Ignotum System.<br>You are now in the Ignotum API Documentation page.</p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">GET /api/user</h5>
      <p class="card-text" style="color: black;">Request with GET method to get an user's info.</p>
      <p class="card-text">
        <ul>
          <li>
            <strong>Parameters:</strong>
          </li>
          <li>
            <strong>id:</strong> User ID
          </li>
          <li>
            <strong>username:</strong> Username
          </li>
        </ul>
      <a href="/api/user" class="btn btn-primary">Go to page</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">GET /api/question</h5>
      <p class="card-text" style="color: black;">Request with GET method to get a question's info.</p>
      <p class="card-text">
        <ul>
          <li>
            <strong>Parameters:</strong>
          </li>
          <li>
            <strong>id:</strong> Question ID
          </li>
        </ul>
      <a href="/api/question" class="btn btn-primary">Go to page</a>
    </div>
  </div>

<h1 id="else">Other will coming soon in V1, example: poll, respond question, report, etc..</h1>

<style>
    h1 {
        font-size: 45px;
        color: white;
        text-align: center;
        text-shadow: black;
    }

    #else {
        font-size: 30px;
        color: white;
        text-align: center;
        text-shadow: black;
    }

    p {
        margin-top: 20px;
        font-size: 20px;
        color: white;
        text-align: center;
        text-shadow: black;
    }

    body {
        background-color: #18191A;
    }

    .card {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 18rem;
        border-color: #18191A;
    }
</style>