<h1 class="text-center text-light">Create</h1>
<div class="list-group">
        <a href="/questions/create" class="list-group-item list-group-item-action active" aria-current="true">
            <h5 class="mb-1 text-center">Question</h5>
            <p class="mb-1">Create a question!</p>
        </a>

        <a href="/polls/create" class="list-group-item list-group-item-action active" aria-current="true">
            <h5 class="mb-1 text-center">Poll</h5>
            <p class="mb-1">Create a poll!</p>
        </a>
</div>

<style>
    body {
		background-color: #18191A;
	}

    .list-group {
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 500px;
        padding: 50px;
    }

    .list-group a:hover {
        background-color: blue
    }
</style>