<div class="text-center">
    <h1>Ignotum News!</h1>
    <h3>
        Poll system coming soon!
    </h3>
</div>

<style>
    .text-center h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }
    .text-center h3 {
        color: white;
        font-size: 30px;
        margin-top: 30px;
    }
    .text-center {
        margin: auto;
        width: 600px;
        padding: 50px;
    }
    body {
        background-color: #18191A;
    }
</style>