<h1 class="text-center">Your poll have been created</h1>
<p class="text-center" style="font-size: 20px;">You can share this link to your friend for their response
<br>
https://ignotum.up.railway.app/polls/<%= id %>
</p>
<div class="buttons text-center">
    <a href="/polls/<%= id %>" class="btn btn-primary">View Statistic</a>
</div>

<style>
    .text-center {
        color: white;
    }

    body {
        background-color: #18191A;
    }
</style>