<h1 class="text-center">Your report had been submitted!</h1>
<p class="text-center" style="font-size: 20px;">Thank you for your report. Our staff will do an action immediately.</p>
<div class="buttons text-center">
    <a href="/home" class="btn btn-primary">Back to homepage</a>
</div>

<style>
    .text-center {
        color: white;
    }

    body {
        background-color: #18191A;
    }
</style>